:root{
  --cor-fundo: #332E2B;
  --cor-destaque: #FF7000;
  --cor-texto: #FFFFFF;
}

*{
  margin:0;
  padding: 0;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

.apresentacao{
  display: flex;
  margin:10%;
  align-ittems: center
  justify-content: espace-between;
}

a{
}
