:root{
  --cor-fundo: #332E2B;
  --cor-destaque: #FF7000;
  --cor-texto: #FFFFFF;
}

*{
  margin:0;
  padding: 0;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

.apresentacao{
  display: flex;
  margin:10%;
  align-ittems: center
  justify-content: espace-between;
}

.apresentacao__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao__links__link{
  border: 2px solid var(--cor-destaque);
  width: 378px;
  color: var(--cor-texto);
  font-size:24px;
  text-decoration: none;
  padding: 21.5px;
  border-radiius: 8px;
  text-align: center;
  font-weight: 600;
  font-family: "montserrat", sans-serif
}
