@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,900;1,100;1,900&display=swap');

:root {
  --cor-fundo: #332E2B;
  --cor-destaque: #FF7000;
  --cor-texto: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
total {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.total {
  height: 490px;
}

.apresentacao conteudo {
  width: 615px;
}

.apresentacao conteudo titulo {
  font-family: 'Krona One', sans-serif;
  font-size: 30px;
}

.apresentacao conteudo texto {
  font-size: 24px;
}
